.whats-new {
  background-color: $dblue;

  a{
    text-decoration: none;
  }

  .inner {
    color: $white;
    text-align: center;
    padding-top: $spacing_s;
    padding-bottom: $spacing_s;

    h2 {
      text-transform: uppercase;
      font-weight: 900;
      font-size: 1rem;
      margin-bottom: 0;
      margin-top: 0;
    }

    p{
      margin-top: 0;
      margin-bottom: 0;
      font-size: 0.8rem;
      line-height: 1.2;
    }
  }

  @media(min-width: $lg) {
    background-color: transparent;
	padding-bottom: $spacing_l2;

    .inner {
      background-color: $dblue;
      text-align: left;
	  padding-left: 40px;
	  padding-right: 20px;
	  padding-top: 28px;
	  padding-bottom: 28px;

      h2,
      p {
        display: inline;
      }

      h2 {
        font-size: 1.15rem;
		margin-right: $spacing_s;
      }

      p{
        font-size: 1rem;
      }
    }
  }
}
