.who-section{
	padding: 0 $spacing_s;
	h3{
		max-width: 180px;

		@media(min-width: $lg){
			max-width: 100%;
			font-size: 1.65rem;
			line-height: 1.05;
			margin-top: 12px;
			margin-bottom: 40px;
		}
	}

	@media(min-width: $lg){
		padding-top: $spacing_l2;
		padding-bottom: $spacing_l2;

		&.volume{
			padding-top: 25px;
		padding-bottom: 25px;

		}

		.col-lg-8{
			padding-left: 0;
			padding-right: 0;
			margin-left: -15px;
		}

		.col-lg-4{

			padding-right: 46px;

		}
	}
}


	.quote{
		color: $blue;
		font-family: $font-serif;

		&-section{
			padding-bottom: $spacing_ml;
			padding-top: $spacing_m;

			@media(min-width: $lg){
				padding-bottom: $spacing_xxl;

			}
		}

		&-image img{
			display: block;
			margin: auto;
			border-radius: 50%;
			height: auto;

			@media(min-width: $lg){
				width: 100%;
				max-width: 600px;
			}
		}

		q{


			font-size: 0.85rem;
			line-height: 1.2;
			margin-top: $spacing_s;
			display: block;
			padding-left: 6px;
			position: relative;



			&::before{
				content: '\201C';
				display: block;
				position: absolute;
				left: 0;
				top: 0;

			}

			&::after{
				content: '\201D';
			}

			@media(min-width: $lg){
				font-size: 1.5rem;
				max-width: 300px;
				padding-left: 0;

				&::before{
					left: -15px;
				}
			}

		}

		.name{
			font-family: $font-main;
			font-weight: 900;
			font-size: 0.5rem;
			margin-top: 0;
			padding-left: 18px;
			position: relative;
		  	line-height: 1.2;

			&::before{
				content: '— ';
				display: inline-block;
				position: absolute;
				top: 0;
				left: 0;
			}



			@media(min-width: $lg){
				font-size: 0.85rem;
				max-width: 290px;
			}
		}

		@media(min-width: $lg){
			margin-top: 60px;
		}

	}
