.container{

	padding-left: $spacing_s;
	padding-right: $spacing_s;

	@media(min-width: $md){
		padding-left: 15px;
		padding-right: 15px;
	}

	&-inner{
		max-width: 775px;
		margin: 0 auto;

		&-l{
			@media(min-width: $lg){
			max-width: 940px;
			margin: 0 auto;
			}

		}

		&-xl{
			@media(min-width: $xl){
				max-width: 1014px;
				margin: 0 auto;

				&.align-with-l{
					padding-left: 124px;
				}
				}
		}
	}
}

.site-content .container{

	padding-left: 2*$spacing_s;
	padding-right: 2*$spacing_s;


	@media(min-width: $md){
		padding-left: 15px;
		padding-right: 15px;
	}
}

.nomargin{
	margin: 0;
}

.container-padded{
	@media(min-width: $lg) {

		  padding-left: 88px;
		  padding-right: 88px;
		  padding-bottom: $spacing_l2;
		}

}

.break-mob{
	@media(min-width: $md){
		display: none;
	}
}