.ff-patient-resources {
  @media print {
    body{
      font-size:12pt;
    }

    .banner,
    .updates,
    #stay-in-touch,
    .resources,
    .site-footer,
    .site-header,
    .section-pharmacies .intro,
    .pharmacy-finder .top,
    .pharmacy-finder .middle,
    .pharmacy-finder .bottom .mapcontain{
      display: none;
    }

    .bg-aqua-t, .has-aqua-t-background-color{
      background: #fff;
    }

    .section-pharmacies .map-wrapper{
      padding-left:0;
    }

    .pharmacy-finder .bottom ul.pharmacy-list{
      max-height:100%;
      max-width: 100%;

      li {
        font-size:1rem;
        p.map{
          display: none;
        }
      }
    }

    .site-content .container{
      width:100%;
      max-width:100%;
      padding-left:0;
      padding-right:0;
    }

  }
}
