$dark: #4C4D4F;
$med: #979797;
$medlight: #E7E7E7;
$light: #F3F3F3;

$dblue: #0F4E6A;
$blue: #0089bd;
$blue-vibrant: #0088CE;
$blue-dark: #0B253F;
$aqua: #BBF0ED;
$aqua-t: rgba(#0089BD, 0.0625);
$green: #007E7A;
$green2: #92cdca;
$cherry: #9D134F;
$cherry-t: rgba(#F0CFD7,0.5);
$red: #AF3540;
$orange: #E4723B;
$white: #FFFFFF;
