@import 'colors';
@import 'spacing';

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$grid-breakpoints: (
  xs: $xs,
  sm: $sm,
  md: $md,
  lg: $lg,
  xl: $xl
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1210px //default is 1140
);

$design-widths: ( // For reference
	1190px, // Done with bootstrap container
	950px,
	940px,
	775px,
);

$font-main: proxima-nova, sans-serif;
$font-condensed: proxima-nova-condensed, $font-main;
$font-serif: Georgia, serif;