&-top {
  text-align: right;
  list-style: none;
  padding-left: 0;
  padding-top: 4px;
  padding-bottom: 5px;
  margin-left: 0;
  font-size: 0.5rem;
  font-family: $font-condensed;
  font-weight: 700;
  margin: 0;

  >li {
    margin-left: 0;
    display: inline-block;
    position: relative;
    text-align: left;


    >a {
      padding-bottom: 0;
      padding-left: 0.5*$spacing_s;
      padding-right: 0.5*$spacing_s;
      display: block;
	  font-weight: 500;
    }

    &:first-child {
      margin-left: 0;
    }



    ul {
      display: none;
      list-style: none;
      color: $dark;
      background-color: $white;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      z-index: 200;
      
      padding-left: 0.5*$spacing_s;
      padding-right: 0.5*$spacing_s;
      margin-left: 0;
      border: 1px solid $med;

	  li a{
		font-weight: 400;
		font-family: $font-main;
		line-height: 1;
		display: block;
		border-top: 1px solid $medlight;
    padding-top: 0.5*$spacing_s;
    padding-bottom: 0.5*$spacing_s;
    
	
    text-decoration: none;

		h4{
			font-weight: 900;
			margin-bottom: 0;
			margin-top: 0;
		}

		span{
			@media(min-width: $lg) {
			font-size: 0.5rem;
			display: block;
			line-height: 1.2;
			}
		}

	  }

    @media(min-width: $md){
      padding-left: $spacing_s;
      padding-right: $spacing_s;
    }
    }

    @media(-ms-high-contrast: none), (-ms-high-contrast: active), (hover: hover) and (pointer: fine){
      &:hover{


      background-color: $white;

      >a {
        color: $white;
        background-color: $blue;

      }

      ul {
        display: block;
      }
    }
    }
    @media(any-hover:none), (pointer: coarse){
    &.expanded {


      background-color: $white;

      >a {
        color: $white;
        background-color: $blue;

      }

      ul {
        display: block;
      }
    }
    }
    
  }

  @media(min-width: $lg) {

    font-size: 0.7rem;
    color: $white;
    padding-top: 0;
    padding-bottom: 2px;
    max-width: 763px;
    margin-left: 325px;

    >li {

      line-height: 2.6;
      margin-left: 2px;

      > a{
        padding-left: $spacing_s;
        padding-right: 24px;
      }

      &:first-child{
        margin-left: 0;
      }

      &:last-child>a {
        padding-right: 58px;
      }
    }
  }
}
