.button{
	border-radius: 5px;
	border: 0;
	padding: 3px 20px;
	font-weight: 900;
	text-decoration: none;
	display: inline-block;
	text-transform: uppercase;

	@media(min-width: $md){
		padding: $spacing_m 30px;
		padding: 7px 28px;
		font-size: 1.1rem;
	}

	&:hover{
		color: $white;
		background-color: $cherry;
	}
}