.popup {
  &-body {
    background-color: $white;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
  }

  h3,
  p {
    margin: 0;


  }

  @media(min-width: $md) {

	&-body{

	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 45px;
	padding-right: 45px;
	max-width: 575px;
	margin: auto;

	}

    h3 {
      margin-bottom: $spacing_s;
    }
  }



  .mfp-close {
    color: $blue;
    width: 15px;
    height: 15px;
    top: 11px;
    right: 11px;

    color: transparent;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='24px' height='24px' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Eicons/nav/close-x%3C/title%3E%3Cdefs%3E%3Cpolygon id='path-1' points='15.4285714 12 24 20.5714286 20.5714286 24 12 15.4285714 3.42857143 24 0 20.5714286 8.57142857 12 0 3.42857143 3.42857143 0 12 8.57142857 20.5714286 0 24 3.42857143'%3E%3C/polygon%3E%3C/defs%3E%3Cg id='Desktop' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Registration-Terms-&amp;-Conditions' transform='translate(-525.000000, -16.000000)'%3E%3Cg id='icons/nav/close-x' transform='translate(525.000000, 16.000000)'%3E%3Cmask id='mask-2' fill='white'%3E%3Cuse xlink:href='%23path-1'%3E%3C/use%3E%3C/mask%3E%3Cuse id='close-x' fill='%230089BD' xlink:href='%23path-1'%3E%3C/use%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-size: contain;

    @media(min-width: $md) {
      width: 24px;
      height: 24px;
      top: 20px;
      right: 20px;
    }
  }
}

.mfp-container {
  padding: 0;
}

.modal-isi{
  h3, h4{
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.3;
    margin-bottom: 12px;
    margin-top: 0;
  }

  ul, li, p{
    margin-top: 0;
    margin-bottom: 12px;

    &:last-child{
      margin-bottom: 0;
    }
  }
}