$email: '<?xml version="1.0" encoding="UTF-8"?>
<svg width="35px" height="27px" viewBox="0 0 35 27" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
	<title>icons/ui/email-envelope-reverse</title>
	<defs>
		<path d="M31,0.375 L4,0.375 C2.14375,0.375 0.641875,1.8515625 0.641875,3.65625 L0.625,23.34375 C0.625,25.1484375 2.14375,26.625 4,26.625 L31,26.625 C32.85625,26.625 34.375,25.1484375 34.375,23.34375 L34.375,3.65625 C34.375,1.8515625 32.85625,0.375 31,0.375 L31,0.375 Z M31,6.9375 L17.5,15.140625 L4,6.9375 L4,3.65625 L17.5,11.859375 L31,3.65625 L31,6.9375 L31,6.9375 Z" id="path-1"></path>
	</defs>
	<g id="Desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
		<g id="4.0-Patient-Resources" transform="translate(-331.000000, -4607.000000)">
			<g id="Pharmacy-Locator" transform="translate(0.000000, 4226.000000)">
				<rect id="Big-blue-Copy-4" fill-opacity="0.25" fill="#0089BD" opacity="0.25" x="0" y="0" width="1442" height="1102"></rect>
				<g id="icons/ui/email-envelope-reverse" transform="translate(331.000000, 381.000000)">
					<mask id="mask-2" fill="white">
						<use xlink:href="#path-1"></use>
					</mask>
					<use id="email-envelope-reverse" fill="#0089BD" xlink:href="#path-1"></use>
				</g>
			</g>
		</g>
	</g>
</svg>';

$print: '<?xml version="1.0" encoding="UTF-8"?>
<svg width="33px" height="29px" viewBox="0 0 33 29" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
	<title>icons/ui/email-envelope-reverse copy</title>
	<defs>
		<path d="M27.59375,8.1875 L5.28125,8.1875 C2.635625,8.1875 0.5,10.28125 0.5,12.875 L0.5,22.25 L6.875,22.25 L6.875,28.5 L26,28.5 L26,22.25 L32.375,22.25 L32.375,12.875 C32.375,10.28125 30.239375,8.1875 27.59375,8.1875 Z M22.8125,25.375 L10.0625,25.375 L10.0625,17.5625 L22.8125,17.5625 L22.8125,25.375 Z M27.59375,14.4375 C26.7171875,14.4375 26,13.734375 26,12.875 C26,12.015625 26.7171875,11.3125 27.59375,11.3125 C28.4703125,11.3125 29.1875,12.015625 29.1875,12.875 C29.1875,13.734375 28.4703125,14.4375 27.59375,14.4375 Z M26,0.375 L6.875,0.375 L6.875,6.625 L26,6.625 L26,0.375 Z" id="path-1"></path>
	</defs>
	<g id="Desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
		<g id="4.0-Patient-Resources" transform="translate(-558.000000, -4608.000000)">
			<g id="Pharmacy-Locator" transform="translate(0.000000, 4226.000000)">
				<rect id="Big-blue-Copy-4" fill-opacity="0.25" fill="#0089BD" opacity="0.25" x="0" y="0" width="1442" height="1102"></rect>
				<g id="icons/ui/email-envelope-reverse-copy" transform="translate(558.000000, 382.000000)">
					<mask id="mask-2" fill="white">
						<use xlink:href="#path-1"></use>
					</mask>
					<use id="Shape" fill="#0089BD" xlink:href="#path-1"></use>
				</g>
			</g>
		</g>
	</g>
</svg>';

$marker: '<?xml version="1.0" encoding="UTF-8"?>
<svg width="13px" height="18px" viewBox="0 0 13 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
	<title>icons/ui/location-pin</title>
	<defs>
		<path d="M6.48363636,0.638297872 C9.58647266,0.638297872 12.1018182,3.16264966 12.1018182,6.27659574 C12.1018182,9.39054183 6.48363636,16.4255319 6.48363636,16.4255319 C6.48363636,16.4255319 0.865454545,9.39054183 0.865454545,6.27659574 C0.865454545,3.16264966 3.38080007,0.638297872 6.48363636,0.638297872 Z M6.48363636,4.0212766 C5.24250185,4.0212766 4.23636364,5.03101731 4.23636364,6.27659574 C4.23636364,7.52217418 5.24250185,8.53191489 6.48363636,8.53191489 C7.72477088,8.53191489 8.73090909,7.52217418 8.73090909,6.27659574 C8.73090909,5.03101731 7.72477088,4.0212766 6.48363636,4.0212766 Z" id="path-1"></path>
	</defs>
	<g id="Desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
		<g id="4.0-Patient-Resources" transform="translate(-333.000000, -5101.000000)">
			<g id="Pharmacy-Locator" transform="translate(0.000000, 4226.000000)">
				<rect id="Big-blue-Copy-4" fill-opacity="0.25" fill="#0089BD" opacity="0.25" x="0" y="0" width="1442" height="1102"></rect>
				<g id="result-copy-3" transform="translate(330.000000, 766.000000)">
					<g id="icons/ui/location-pin" transform="translate(3.000000, 109.765957)">
						<mask id="mask-2" fill="white">
							<use xlink:href="#path-1"></use>
						</mask>
						<use id="location-pin" fill="#0089BD" xlink:href="#path-1"></use>
					</g>
				</g>
			</g>
		</g>
	</g>
</svg>';