.middle {
    list-style: none;
   
    padding-left: 0;
    margin-left: 0;

    font-weight: 800;
	line-height: 1;
	margin-top: 15px;
		margin-bottom: 15x;

	@media(min-width: $md){

		display: flex;
		margin-top: 35x;
		margin-bottom: 35px;
		}

    li {

		margin-right: 45px;
		margin-top: 15px;
		margin-bottom: 15px;
		

      a {
		  display: block;
        padding-left: 52px;
		padding-top: 5px;
		padding-bottom: 5px;
		color: $dark;
		text-decoration: none;
		background-size: 30px;
		background-position: left center;
		background-repeat: no-repeat;
		font-size: 1.125rem;

		@media(min-width: $md){
			background-size: 35px;
			font-size: 0.9rem;
		}

		
      }

	  &.email a{
		background-image: inline-svg($email);
	  }

	  &.print a{
		background-image: inline-svg($print);
	  }
    }

  }