.top {
	@media(min-width: $md){

    display: flex;
	}

    label {
      width: 100%;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 1;
	  margin-top: 25px;
	  display: block;



      select, .select2-selection {
		&::-ms-expand {
			display: none;
		}
        width: 100%;
		margin-top: 8px;
		font-size: 0.9rem;
		line-height: 1.33;
		padding: 12px;
		appearance: none;
		background-color: #FCFCFC;
		border: 1px solid #B8B8B8;
		border-radius: 0;
		padding-right: 42px;
		background-position: right 14px center;
		background-size: 12px;
		background-repeat: no-repeat;
		background-image: inline-svg('<?xml version="1.0" encoding="UTF-8"?>
		<svg width="12px" height="8px" viewBox="0 0 12 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
			<title>icons/nav/caret-down</title>
			<defs>
				<polygon id="path-1" points="10.59 0.59 6 5.17 1.41 0.59 0 2 6 8 12 2"></polygon>
			</defs>
			<g id="Desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
				<g id="4.0-Patient-Resources" transform="translate(-724.000000, -4524.000000)">
					<g id="Pharmacy-Locator" transform="translate(-2.000000, 4225.000000)">
						<rect id="Big-blue-Copy-4" fill-opacity="0.25" fill="#0089BD" opacity="0.25" x="0" y="0" width="1442" height="1102"></rect>
						<rect id="Rectangle" stroke="#979797" fill="#D8D8D8" x="710.5" y="282.5" width="41" height="44"></rect>
						<g id="layout/forms/form-field" transform="translate(316.000000, 248.000000)">
							<path d="M435.75,32.25 L435.75,78.75 L14.25,78.75 L14.25,32.25 L435.75,32.25 Z" id="Rectangle" stroke="#B8B8B8" stroke-width="0.5" fill="#FCFCFC"></path>
							<g id="icons/nav/caret-down" transform="translate(410.000000, 51.000000)">
								<mask id="mask-2" fill="white">
									<use xlink:href="#path-1"></use>
								</mask>
								<use id="Mask" fill="#575656" xlink:href="#path-1"></use>
							</g>
						</g>
						<g id="layout/forms/form-field-copy" transform="translate(725.000000, 248.000000)"></g>
					</g>
				</g>
			</g>
		</svg>');

		&.select2-selection--single{
			height: auto;
		}

		&__arrow{
			display: none;
		}

		&__rendered{
			font-size: 1rem;
			text-transform: none;
			font-weight: 400;
			line-height: inherit;

			@media(min-width: $md){
				font-size: 0.9rem;
			}
		}


      }

	  @media(min-width: $md){

		margin-top: 0;
		font-size: 0.8rem;

      &.state {
        padding-right: 10px;

        .label-inner{
          //margin-left: -14px;
        }
      }

      &.pharmacy_name {
        padding-left: 10px;

        .label-inner {
          //margin-left: -42px;
        }
      }

	}
    }
  }

